**Basics Of Python**

**Day 1**

*Install Python Follow the Link* 
https://www.python.org/downloads/

*Install Pycharm* Follow the Link  https://www.jetbrains.com/pycharm/download/

In [1]:
# print Hello World 
print("hello world!!!")

hello world!!!

In [114]:
print("What is your Name")
print("\n")
print("My name is Dr. Tanu")

What is your Name


My name is Dr. Tanu

In [8]:
print(" Welcome", end = "")

 Welcome

In [116]:
print(" Welcome", end = ".")

 Welcome.

**Declare and Use Variable**

In [118]:
a = 20 
b =10
print(a+b)

30

In [119]:
a = 10
b = 'Happy'
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [120]:
a =10
b = 'Happy'
print(str(a)+b)

10Happy

In [121]:
# Local and Global Variable 
a = 10    # Global variable 
def myfun(a):
    a = 'I do like cake'   # Local variable 
    print(a)
myfun(a)
print(a)

I do like cake
10

In [122]:
# Delete a variable 
b =5
print(b)
del(b)
print(b)

5

NameError: name 'b' is not defined

In [15]:
# assign Multiple values 
x,y,z = 10,20,30
print(x)
print(y)
print(z)

10
20
30

**Data type**
**1. Tuple**

**Text Type:	str**

**Numeric Types:	int, float, complex**

**Sequence Types:	list, tuple, range**

**Mapping Type:	dict**

**Set Types:	set, frozenset**

**Boolean Type:	bool**

**Binary Types:	bytes, bytearray, memoryview**

**None Type:	NoneType**

In [16]:
x =10 
print(type(x))

<class 'int'>

In [17]:
x = 'Hi'
print(type(x))

<class 'str'>

In [18]:
x = 12.5
print(type(x))

<class 'float'>

In [123]:
x = int(1.7)
y = int(2.4)
print(x)
print(y)

1
2

In [124]:
x = float(1)
y = float(2)
print(x)
print(y)

1.0
2.0

In [25]:
x = str(1)
y = str(2.4)
print(x)
print(y)

1
2.4

In [126]:
# String 
a = "hi how are you"
b = """hi hooooo,
    yiouoi, 
    nkijo """
c = '''hi gooooo,
    yiouoi, 
    nkijo '''
print(a)
print(b)
print(c)

hi how are you
hi hooooo,
    yiouoi,
    nkijo
hi gooooo,
    yiouoi,
    nkijo

In [127]:
a = "Hello World"
print(a[2])

l

In [31]:
for x in "Helloworld": 
    print(x)

H
e
l
l
o
w
o
r
l
d

In [128]:
a = "helloworldhihikj"
print(len(a))

16

In [130]:
txt = "best thing in life is to get something free"
print("be" in txt)

True

In [134]:
txt = "best thing in life is to get something free"
if "best" in txt: 
    print("Yes, 'free' is present")

Yes, 'free' is present

In [135]:
txt = "best thing in life is to get something free"
print("expensive" not in txt)

True

In [38]:
txt = "best thing in life is to get something free"
if "expensive" not in txt: 
    print("Yes, 'expensive' is not present")

Yes, 'expensive' is not present

In [137]:
# Slice the string
b = "Hello World!"
print(b[2:7])

llo W

In [42]:
# slice from the start
b = "Hello World!"
print(b[:5])

Hello

In [43]:
# slice till the end
b = "Hello World!"
print(b[2:])

llo World!

In [44]:
# slice till the end
b = "Hello World!"
print(b[-5:-2])

orl

In [48]:
a = " Hello, World!"
print(a.lower())
print(a.upper())
print(a.strip())
print(a.replace('H','J'))
print(a.split(","))

 hello, world!
 HELLO, WORLD!
Hello, World!
 Jello, World!
[' Hello', ' World!']

In [54]:
# string Concatenation 
a = 'Hello'
b = 'World'
print(a+b)
print(a + " "+b)

HelloWorld
Hello World

In [ ]:
# How to concatenate the strings
- '+'
- str.join()
- join()

In [9]:
colors = ';'.join(["red","blue","Yellow"])
print(colors)
print(colors.split(';'))
print("".join(['high','way','top']))

red;blue;Yellow
['red', 'blue', 'Yellow']
highwaytop

**DAY 2**

In [26]:
profession = "Data Scientist"
txt =  "My name is Tanu, and I am a "+profession
print(txt)

My name is Tanu, and I am a Data Scientist

In [27]:
a = 10
b = 20
print(a+b)

30

In [59]:
n= 1
ch = 2 
rp = 20
myorder = "I want to order {} pizza and {} chips of worth {} ruppes."
print(myorder.format(n,ch,rp))

I want to order 1 pizza and 2 chips of worth 20 ruppes.

In [64]:
txt = "hello world is \"great\" to start with "
print(txt)

hello world is "great" to start with

**Escape Characters**

**\'	Single Quote	**

**\\	Backslash	**

**\n	New Line	**

**\r	Carriage Return	**

**\t	Tab	**

**\b	Backspace	**

**\f	Form Feed	**

**\ooo	Octal value	**

**\xhh	Hex value**

***String Method***

**Method	::        Description**

capitalize()	Converts the first character to upper case

casefold()	Converts string into lower case

center()	Returns a centered string

count()	Returns the number of times a specified value occurs in a string

encode()	Returns an encoded version of the string

endswith()	Returns true if the string ends with the specified value

expandtabs()	Sets the tab size of the string

find()	Searches the string for a specified value and returns the position of where it was found

format()	Formats specified values in a string

format_map()	Formats specified values in a string

index()	Searches the string for a specified value and returns the position of where it was found

isalnum()	Returns True if all characters in the string are alphanumeric

isalpha()	Returns True if all characters in the string are in the alphabet

isdecimal()	Returns True if all characters in the string are decimals

isdigit()	Returns True if all characters in the string are digits

isidentifier()	Returns True if the string is an identifier

islower()	Returns True if all characters in the string are lower case

isnumeric()	Returns True if all characters in the string are numeric

isprintable()	Returns True if all characters in the string are printable

isspace()	Returns True if all characters in the string are whitespaces

istitle()	Returns True if the string follows the rules of a title

isupper()	Returns True if all characters in the string are upper case

join()	Joins the elements of an iterable to the end of the string

ljust()	Returns a left justified version of the string

lower()	Converts a string into lower case

lstrip()	Returns a left trim version of the string

maketrans()	Returns a translation table to be used in translations

partition()	Returns a tuple where the string is parted into three parts

replace()	Returns a string where a specified value is replaced with a specified value

rfind()	Searches the string for a specified value and returns the last position of where it was found

rindex()	Searches the string for a specified value and returns the last position of where it was found

rjust()	Returns a right justified version of the string

rpartition()	Returns a tuple where the string is parted into three parts

rsplit()	Splits the string at the specified separator, and returns a list

rstrip()	Returns a right trim version of the string

split()	Splits the string at the specified separator, and returns a list

splitlines()	Splits the string at line breaks and returns a list

startswith()	Returns true if the string starts with the specified value

strip()	Returns a trimmed version of the string

swapcase()	Swaps cases, lower case becomes upper case and vice versa

title()	Converts the first character of each word to upper case

translate()	Returns a translated string

upper()	Converts a string into upper case

zfill()	Fills the string with a specified number of 0 values at the beginning

***Boolean value returns True or False***

In [66]:
print(10>9)
print(10<9)

True
False

In [69]:
a= 100
b = 50 
if a > b : 
    print("a is greater than b")
else: 
    print("b is greater than a")

a is greater than b

In [71]:
print(bool("hello"))
print(bool(15))

True
True

***Operators***

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

**Python Arithmetic Operator**
- Operator	Name	Example	
- "+"	Addition	x + y	
- "-"	Subtraction	x - y	
- "*"	Multiplication	x * y	
- "/"	Division	x / y	
- "%"	Modulus	x % y	
- "**"	Exponentiation	x ** y	
- "//"	Floor division	x // y

**1. LIST**

In [73]:
mylist = ['stats', 'maths','programming']
print(mylist)

['stats', 'maths', 'programming']

In [29]:
lst = [1,2,3,'stas']

**List items have following property**
 - ordered
 - changeable
 - allow duplicate values.

In [76]:
lst1 = ['a','b','c']
lst2 = [1,2,3]
lst3 = [True, False, True]

In [75]:
lst4 = ['a',1,True]

In [78]:
print(type(lst2))

<class 'list'>

In [80]:
lst5 = list((1,2,3,'abc'))

Python Data Types
- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [81]:
lst =[1,2,3,4,5,6,7,8,9,10]

In [82]:
print(lst[2:5])

[3, 4, 5]

In [ ]:
fetch 2,3,4
fetch 5,6,7
fetch 8,9,10

In [31]:
game = ['badminton','cricket', 'basketball','golf', 'pool','volleyball']
for i in game: 
    print(i)

badminton
cricket
basketball
golf
pool
volleyball

In [85]:
game[1] = 'xxx'
print(game)

['badminton', 'xxx', 'basketball', 'golf', 'pool', 'volleyball']

In [86]:
game.insert(1, 'yyy')
print(game)

['badminton', 'yyy', 'xxx', 'basketball', 'golf', 'pool', 'volleyball']

In [32]:
game.append('zze')
print(game)

['badminton', 'cricket', 'basketball', 'golf', 'pool', 'volleyball', 'zze']

In [37]:
lst =[1,2,3]
game.extend(lst)
print(game)

['badminton', 'cricket', 'basketball', 'golf', 'pool', 'volleyball', 'zze', 1, 2, 1, 2, 3]

In [39]:
game.remove(1)
print(game)

['badminton', 'cricket', 'basketball', 'golf', 'pool', 'volleyball', 'zze', 2, 1, 2]

In [93]:
game.pop(1)
print(game)

['badminton', 'xxx', 'basketball', 'golf', 'pool', 'volleyball', 'zzz', 'zzz', 1, 2, 1, 2]

In [94]:
del game[1]

In [95]:
print(game)

['badminton', 'basketball', 'golf', 'pool', 'volleyball', 'zzz', 'zzz', 1, 2, 1, 2]

In [96]:
game.clear()
print(game)

[]

In [99]:
game = ['badminton','cricket', 'basketball','golf', 'pool','volleyball']
for i in range(len(game)): 
    print(game[i])

badminton
cricket
basketball
golf
pool
volleyball

In [101]:
i=0
while i <len(game):
    print(game[i])
    i = i+1

badminton
cricket
basketball
golf
pool
volleyball

**List Comprehension**

In [102]:
[print(x) for x in game] 
for x in game: 
    print(x)

badminton
cricket
basketball
golf
pool
volleyball

[None, None, None, None, None, None]

In [103]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [104]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [106]:
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [109]:
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [107]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [138]:
#Accept only numbers that are less than 5
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [140]:
# Change all the elements to the upper case sequence
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [142]:
# Replace all the name in the list with your name i.e. 'tanu' 
newlist = ['tanu' for x in fruits]
print(newlist)

['tanu', 'tanu', 'tanu', 'tanu', 'tanu']

In [143]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [144]:
# Sort List Ascending
thislist = [102, 40, 15, 8, 223]
thislist.sort()
print(thislist)

[8, 15, 40, 102, 223]

In [145]:
# Sort in descending
thislist = [102, 40, 15, 8, 223]
thislist.sort(reverse = True)
print(thislist)

[223, 102, 40, 15, 8]

In [146]:
# Copy a List 
# Method 1
thislist = ["af", "bd", "ce"]
mylist = thislist.copy()
print(mylist)

['af', 'bd', 'ce']

In [147]:
# Copy a List 
# Method 2
thislist = ["af", "bd", "ce"]
mylist = list(thislist)
print(mylist)

['af', 'bd', 'ce']

In [148]:
# Join the list
# Method 1
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [149]:
# Join the list
# Method 2
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [150]:
# Join the list
# Method 3
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

**Assignment1 : check for other methods of list and work on them**

**2. A tuple is a collection which is ordered and unchangeable and allow duplicate value**

**Tuples are written with round brackets.**

In [152]:
tup = ("a", "b", "c")
print(tup)

('a', 'b', 'c')

In [154]:
thistuple = ("a",)
print(type(thistuple))

#NOT a tuple
thistuple = ("a")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [156]:
tup1 = ("ac", 14, False, 67, "pass")
print(tup1)

('ac', 14, False, 67, 'pass')

In [157]:
# Another way to create a tuple
tup1 = tuple(("a", "b", "c")) # note the double round-brackets
print(tup1)

('a', 'b', 'c')

In [ ]:
# accessing any element in the tuple 
tup1 = ("a", "b", "c", "o", "k", "m", "g")
print(tup1[2:5])
print(tup1[1:])
print(tup1[4:])

In [158]:
tup1 = ("a", "b", "c")
if "a" in tup1:
  print("Yes, 'a' is in the tuple")

Yes, 'a' is in the tuple

In [ ]:
# Update the tuple 
# Tuples are immutable or Unchangeable
x = ("a", "b", "c")
y = list(x)
y[1] = "k"
x = tuple(y)

print(x)

In [160]:
# Add an element to the tuple since tuple is immutable thus we cann't use append() in it 
tup1 = ("a", "b", "c")
y = list(tup1)
y.append("g")
tup1= tuple(y)
print(tup1)

('a', 'b', 'c', 'g')

In [161]:
# Add a tuple to thee tuple 
tup1 = ("a", "b", "c")
y = ("ge",)
tup1 += y

print(tup1)

('a', 'b', 'c', 'ge')

In [164]:
# Removing element from the tuple 
tup1 = ("a", "b", "c")
y = list(tup1)
y.remove("a")
tup1 = tuple(y)
print(tup1)

('b', 'c')

In [165]:
# Delete completly a Tuple
tup1 = ("a", "b", "c")
del tup1
print(tup1)

NameError: name 'tup1' is not defined

**Packing- assign values to the tuple**

**Unpacking - assign value back to the variables from the tuple**

In [167]:
tup = ('a','b','c') # packing
(s,q,r) = tup  # Unpacking

print(s)
print(q)
print(r)

a
b
c

In [168]:
# If the number of values is less that the values in tuple add * 
f = ("a", "m", "p", "i", "c")

(g, *t, r) = f

print(g)
print(t)
print(r)

a
['m', 'p', 'i']
c

In [169]:
# Loop on the tuple 
tup1 = ("a", "b", "c")
for x in tup1:
  print(x)

a
b
c

In [170]:
tup1 = ("a", "b", "c")
for i in range(len(tup1)):
  print(tup1[i])

a
b
c

In [171]:
# Tuple Join 
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [173]:
# Tuple Multiply
f = ("a", "b", "c")
mytuple = f * 2

print(mytuple)

('a', 'b', 'c', 'a', 'b', 'c')

In [1]:
c = ((123,23),(234,33),(456,56),(666,23))
print(c[2][1])

56

In [2]:
def minmax(items):
    return min(items),max(items)
print(minmax([6,3,1,9,10,576,34,44]))

(1, 576)

In [3]:
# unpacking the variable
lower, upper = minmax([6,3,1,9,10,576,34,44])
print(lower)
print(upper)

1
576

**Assignment: read about count() and index() and apply on some sample code**

**3. SETS**
- A set is a collection which is unordered, unchangeable*, and unindexed.
- No duplicates Allowed

In [181]:
set1 = {"ab", "bc", "ce"}
print(set1)

{'ab', 'ce', 'bc'}

In [182]:
set1 = {"ab", "bc", "ce"}

for x in set1:
    print(x)

ab
ce
bc

In [183]:
set1 = {"ab", "bc", "ce"}

print("bc" in set1)

True

In [188]:
# Use addd() method to add some value to the set
# Once set is created the element can't be changed but element can be added to the set
set1 = {"ap", "bc", "ce"}

set1.add("or")

print(set1)

{'ce', 'bc', 'or', 'ap'}

In [185]:
# Add elements from one set to another set
thisset = {"ap", "ba", "ch"}
tropical = {"pi", "ma", "pa"}
thisset.update(tropical)
print(thisset)

{'ba', 'ma', 'pa', 'ch', 'pi', 'ap'}

In [191]:
# Add elements from a list to the set
set1 = {"ap", "bc", "ce"}
lst1 = [1,2,3]
set1.update(lst1)

print(set1)

{1, 2, 3, 'ce', 'bc', 'ap'}

In [193]:
# Use Remove and Discard
# Method 1 
set1 = {"ap", "ba", "ch"}
set1.remove("ba")
print(set1)
set2 = {"le", "na", "ry"}
set2.discard("ry")

print(set2)

{'ch', 'ap'}
{'le', 'na'}

In [198]:
# Method 2 for removing element
set1 = {"ap", "ba", "ch"}
x = set1.pop()
print(x)
print(set1)

ba
{'ch', 'ap'}

In [202]:
# Method 3 Empties the set 
set1 = {"ap", "ba", "ch"}
set1.clear()
print(set1)

set()

In [201]:
# Deletes the set and its comple value 
set1 = {"ap", "ba", "ch"}
del set1
print(set1)

NameError: name 'set1' is not defined

In [203]:
# Loop on the values of the set
set1 = {"a", "b", "c"}

for x in set1:
  print(x)

b
c
a

In [204]:
# Join the two sets and forms the new set
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'b', 'c', 2, 3, 'a'}

In [209]:
# Update insets one set value into the another set
# exclude the duplicate value 
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'b', 'c', 2, 3, 'a'}

**Assignment**
- Keep only the duplicate value in the Set
- Keep All but not the duplicates
- work on all the remaining set method on some sample datasets

**4. Dictionaries**
- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [214]:
# creation of dictionary, dictionay can't have two items with the same key
thisdict = {
  "Name": "Tanu",
  "Section": "I&D",
  "Company": "CG",
   
}
print(thisdict)

{'Name': 'Tanu', 'Section': 'I&D', 'Company': 'CG'}

In [12]:
# Dictionary Copy
# Method 1
d = {'a':12,'b':11,'c':33}
e = d.copy()
print(e)
# Method 2
f =  dict(e)
print(f)

{'a': 12, 'b': 11, 'c': 33}
{'a': 12, 'b': 11, 'c': 33}

In [13]:
k = { 'd':23, 'e':45, 'a':22}
e.update(k)
print(e)

{'a': 22, 'b': 11, 'c': 33, 'd': 23, 'e': 45}

In [15]:
k.update({'j':89})
print(k)

{'d': 23, 'e': 45, 'a': 22, 'j': 89}

In [18]:
# printing the key value pair 
for key in k:
    print (f"{key}--> {k[key]}")

d--> 23
e--> 45
a--> 22
j--> 89

In [19]:
# printing the value
for value in k.values():
    print(value)

23
45
22
89

In [23]:
# values are knows as items in dictionary
for key,value in k.items():
    print(f"{key}-->{value}")

d-->23
e-->45
a-->22
j-->89

In [25]:
# Deletion 
del k['d']
print(k)

{'e': 45, 'a': 22, 'j': 89}