**Day 5**

**Lambda Functions**
- A lambda function is a small anonymous function.
- A lambda function can take any number of arguments, but can only have one expression.

**Syntax**
- lambda arguments : expression

In [ ]:
def add(a):
    a = a+5
    return a
print(add(5))

In [49]:
# Add 5 to the argument
x = lambda a : a + 5
print(x(5))

10

In [3]:
# Multiply a and b 
x = lambda a, b : a * b
print(x(5, 6))

30

In [4]:
# Add a,b and c andreturn the result
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [6]:
sum = lambda arg1, arg2: arg1 + arg2
print(sum(10,20))

30

In [41]:
x=lambda x:x*2 for x in range(1,11)
print(x(1))

2

In [44]:
multiples = [n * 5 for n in range(1, 11)]
print(multiples)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [47]:
# Printing a table using Lambda Function
tables = [lambda x = x: x*2 for x in range(1, 11)]
for table in tables:
    print(table())

2
4
6
8
10
12
14
16
18
20

In [8]:
# Example of lambda function using if-else
Max = lambda a, b : a if(a > b) else b
print(Max(1, 2))

2

In [31]:
List = [[3,2,14],[4,1,16, 64],[3, 6, 9, 12]]
 
# Sort each sublist
sortList = lambda x: (sorted(i) for i in x)
# Get the second largest element
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
# code ---lambda
res = secondLargest(List, sortList)
 
print(res)

[3, 16, 9]

In [ ]:
1,3,5,6,7--->
7,9,10----->
2,7------>

In [28]:
List = [[3,2,4],[4, 1, 16, 64],[3, 6, 9, 12]]
for i in List:
    print(sorted(i))
    x= sorted(i)

[2, 3, 4]
[1, 4, 16, 64]
[3, 6, 9, 12]

In [5]:
# Use lambda function inside another function 
def myfun(n):
    return lambda a : a * n

mydoubler = myfun(2)

print(mydoubler(10))

20

In [26]:
f00 = lambda x: x/2

print(f00(10))

print((lambda x: x/2)(10))

print((lambda x, y: x / y)(10, 2))

print((lambda: 'amazing lambda')()) # func with no args!

5.0
5.0
5.0
amazing lambda

In [27]:
mylist = [3, 6, 3, 2, 4, 8, 23]
sorted(mylist)

[2, 3, 3, 4, 6, 8, 23]

In [34]:
# Python code to illustrate cube of a number
# showing difference between def() and lambda().
def cube(y):
    return y*y*y
 
lambda_cube = lambda y: y*y*y
 
# using the normally
# defined function
print(cube(5))
 
# using the lambda function
print(lambda_cube(5))

125
125

**Filter with lambda**
- The filter() function in Python takes in a function and a list as arguments.

In [35]:
# filter() with lambda()
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
 
final_list = list(filter(lambda x: (x%2 != 0) , li))
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [36]:
# Python 3 code to people above 18 yrs
ages = [13, 90, 17, 59, 21, 60, 5]
 
adults = list(filter(lambda age: age>18, ages))
 
print(adults)

[90, 59, 21, 60]

**Lambda Function with Map**
- The map() function in Python takes in a function and a list as an argument.

In [38]:
# filter() with lambda()
# map() with lambda()
# to get double of a list.
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
 
final_list = list(map(lambda x: x*2, li))
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [ ]:
 Assignment : ---  Reduce, Filter, Map - Questions - try to solve them